h1 {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 100px;
	color: black;
	text-align: center;
}

div {
	text-align: center;
}

a	{
	text-decoration: none;
	color: black;
	font-family: Helvetica;
}

div {
	text-align: center;
}

.center	{
		text-align: center;
		margin-top: 50px;
		font-size: 100px;
}

