h1 {
	font-family: Helvetica;
	font-weight: bold;
	font-size: 100px;
	color: black;
	text-align: center;
}

div {
	text-align: center;
}

a	{
	text-decoration: none;
	color: black;
	font-family: Helvetica;
}

.centerimg {
	display: inline;
  	margin-left: auto;
  	margin-right: auto;
  	object-fit: cover;
}

.center	{
		text-align: center;
		margin-top: 50px;
		font-size: 100px;
}

